body {
  margin: 0;
  background: url(./imgs/bg.jpg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Image{
  position: absolute;
  margin-left: 14em;
  margin-top: -19em;
  width: 28em;
  height: 20em;
  background-color: black;
  border: 2px solid #ccc;
  border-radius: 8px;
}
.WebCam{
  margin-left: 2em;
  margin-top: -20em;
  width: 28em;
  height: 20em;
  background-color: black;
  border: 2px solid #ccc;
  border-radius: 8px;
}
button{
  color: black;
  background: white;
  margin-left: 95em;
  padding: 2px 2px 2px 2px;
  border-radius: 50%;
  width: 3em; 
  height: 3em; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
button:hover{
  background: black;
  color:white;
}
.File{
  margin-left: 90em;
  width: 10em; 
  height: 5em; 
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.File:hover{
  background: black;
  color:white;
}
.labelInput{
  margin-left: 50em;
}
.menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
  flex-direction: column;
  z-index: 100;
}

.menu.show {
  display: flex;
}
